<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>パスワードお忘れの方</h1>
    <% if(error){ %>
    <p><%= error %></p>
    <% } %>
    <p id="notice_text"></p>
    <form method="post" action="/request_new_password">
        <input type="text" name="email" placeholder="email"></br>
        <input id="request_new_password_submit" type="submit" value="送信">
    </form>
</body>
</html>
<script type="text/javascript" src="../../javascripts/forget_password.js"></script>
