<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <a href="users/new">
    <p>新規登録</p>
  </a>
  <a href="users/login_form">
    <p>ログイン</p>
  </a>
  <a href="forget_password">
    <p>パスワードお忘れの方はこちら</p>
  </a>
</body>
</html>
