<!DOCTYPE html>
<head></head>
<body>
    <h1>newです</h1>
    <% if(errors){ %>
    <% errors.errors.forEach(function(err){ %>
    <p><%= err.msg %></p>
    <% }) %>
    <% } %>
    <form method="post" action="/users/create">
        <input type="text" name="name" placeholder="name"></br>
        <input type="text" name="email" placeholder="email"></br>
        <input type="text" name="password" placeholder="password"></br>
        <input type='hidden' name='session_id' value=<%= sessionID %>>
        <input type="submit" value="登録">
    </form>
    <a href="/users/login_form">
        <p>ログイン</p>
    </a>
    <a href="/">
        <p>ホームへ戻る</p>
    </a>
</body>
</html>
